/* Osoby */


.manzele {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.manzele-profil {
    margin:30px;
    background-color: var(--barva-zluta);
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(50% - 60px);
    max-width: 300px;
    padding: 20px;
}

.profil-obrazek {
    display: block;
    object-fit: cover;
    border: 2px solid var(--barva-modra);
    max-width: 100%;
    height: auto;
    /* margin: 0 20px; */

}





/* osoby pocitac  */

@media (max-width:768px) {
.manzele {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .manzele-profil {
    margin: 30px;
    background-color: var(--barva-zluta);
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    max-width: 400px;
    padding: 0px 50px;
  }
  
}	  
  


/* ---------------------- DRUZICKY ------------------------ */

.druzicky {
display: flex;
flex-direction: column;
align-items: center;
}

.druzicky-profil {
background-color: var(--barva-zluta);
margin: 30px;
padding: 20px;
width: 100%;
max-width: 300px;
}



/* druzicky tablet (dvě vedle sebe) */
  
@media (min-width:768px) {

.druzicky {
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.druzicky-profil {
margin-right: 20px;
margin-bottom: 20px;
width: calc(33.33% - 20px);
max-width: none;
}
}

/* druzicky PC (čtyři vedle sebe) */

/* @media (min-width:800px) {

.druzicky {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }

  .druzicky-profil {
    margin-bottom: 20px;
    width: calc(33.33% - 10px);
    max-width: none;
  }

} */

/* ------------  SVEDCI  -------------*/

.svedci {
display: flex;
flex-direction: column;
align-items: center;
}

.svedci-profil {
width: 100%;
background-color: var(--barva-modra);
border: 3px solid var(--barva-zluta);
padding: 20px;
box-sizing: border-box;
margin: 30px;
max-width: 300px;
}

.svedci-profil .profil-obrazek {
border-color: var(--barva-zluta);
}

.svedci-profil .profil-nadpis, .profil-text {
color: var(--barva-zluta);
}

@media (min-width:768px) {

.svedci {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .svedci-profil {
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    max-width: none;
  }
}


/*   
.s-profil-nadpis {
margin-top: 0;
}

.s-profil-obrazek {
display: block;
margin: 20px auto;
max-width: 100%;
height: auto;
}

.s-profil-kontakt {
display: flex;
justify-content: center;
}

.s-profil-telefon {
display: inline-block;
background-color: #ffffff;
color: #000000;
padding: 10px;
border-radius: 50%;
text-decoration: none;
} */