
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background-color: var(--barva-modra);
    color: var(--barva-zluta);
    }

.nav-links {
    display: flex;
    align-items: stretch;
}
    
.nav-links a {
    color: var(--barva-zluta);
    text-decoration: none;
    font-size: 20px;
}
  
/* LOGO */

.logo img {
    max-width: 150px;
    max-height: 100%;
    padding-left: 30px;
}

/* NAVBAR MENU */

.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
    
.menu li:hover {
    background-color: var(--barva-zluta);
    border-radius: 5px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: var(--barva-modra);
    background-color: var(--barva-zluta);
}
    
.menu li {
    padding: 5px 14px;
    list-style: none;
}

/* CHECKBOX HACK */

input[type=checkbox] {
        display: none;
    } 
    
/* HAMBURGER MENU */

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

/* ------------ MEDIA QUERIES ---------- */

@media (max-width: 768px) {

    .navbar {
        padding: 10px;
    }

    .nav-links a {
        color: var(--barva-zluta);
        text-decoration: none;
        font-size: 15px;
    }

    .menu {
        display:none;
        position: absolute;
        background-color:var(--barva-modra);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    
    .menu li:hover {
        display: inline-block;
        background-color: var(--barva-zluta);
        color: var(--barva-modra);
        transition: 0.3s ease;
    }
    
    .menu li + li {
        margin-top: 12px;
    }

    .logo img {
        max-width: 100%;
        max-height: 45px;
        padding-left: 10px;
    }
    
    input[type=checkbox]:checked ~ .menu {
        display: block;
    }
    
    .hamburger {
        display: block;
    }   
}