html {
	box-sizing: border-box;
}
*,
:after,
:before {
	box-sizing: inherit;
}

/*
nadpisy: font-family: 'Euphoria Script', cursive;
texty: font-family: 'EB Garamond', serif;
na žlutém pozadí modrý nadpis a text
na modrém pozadí žlutý nadpis a text v bledě růžové
*/

:root {
	--barva-modra: #033E8C;
    --barva-ruzova: #fcb2b2;
    --barva-zluta: #F2CB05;
    --barva-text-zluta: #FCC173;
}

body{
    text-align: center;
    font-family: 'EB Garamond', serif;
	font-size: 17px;
}

h1 {
    font-family: 'Euphoria Script', cursive;
    margin: 0;
    padding: 15px;
	font-size: 70px;
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

a {
	color: var(--barva-modra);	
}

a:hover {
	color: var(--barva-zluta);
	background-color: var(--barva-modra);
}

img {
	font-weight: 100%;
	height:auto;
}

p {
	font-size: 17px;
}


/* -------------------------úvodní foto ------------------------------ */

.jmena {
    background-image: url("obrazky/uvodni_foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
	padding: 50px 0;
}

.jmena p{
	font-family: 'Euphoria Script', cursive;;
    text-shadow: -1px -2px 4px rgba(252, 193, 115, 1),2px 11px 11px rgba(255, 195, 116, 1);
	font-size: 60px;
}

/* ------------------odpocet------------------ */

#odpocet {
    font-size: 30px;
}

/* ----------------- sekce ------------------- */


section {
    padding: 20px;
}

.zakladni, .harmonogram, .fotografie {
    background-color: var(--barva-zluta);
    color: var(--barva-modra);
}

.misto, .osoby {
    background-color: var(--barva-modra);
    color: var(--barva-zluta);
}



/* --------------- základní info  -------------------- PO5EŠIT VELIKOSTI OBRAZKU */


.z_img {
	flex-shrink: 0;
	margin: 2%;
	width: 300px;
	padding-top: 5%;
}

.z {
	padding: 20px;
}


/* pocitac */

@media (min-width:700px) {

.z {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
}

.jidlo, .dresscode, .koureni {
	flex-direction: row-reverse;
}

.zi {
	width: 50%;
	padding: 0;
	flex-shrink: 0;
}

.zp {
	width:50%;
	padding: 0;
	text-align: center;
}
}


/* harmonogram */

.tabulka {
	align-content: center;
}


table {
	border-collapse: collapse;
	margin: 0 auto;
}
  
  td {
	border: 1px solid var(--barva-modra);
	padding: 8px;
  }
  
  table.dcf-table-bordered td:first-child {
	border-left: none;
  }
  
  table.dcf-table-bordered td:last-child {
	border-right: none;
  }
  
  table.dcf-table-bordered tr:first-child td {
	border-top: none;
  }
  
  table.dcf-table-bordered tr:last-child td {
	border-bottom: none;
  }

.pravy {
    text-align: left;
  }

/* Osoby */


	.manzele {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	
	.manzele-profil {
		margin:30px;
		background-color: var(--barva-zluta);
		text-align: center;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: calc(50% - 60px);
		max-width: 300px;
		padding: 20px;
	}
	
	.profil-obrazek {
		display: block;
		object-fit: cover;
		border: 2px solid var(--barva-modra);
		max-width: 100%;
		height: auto;
		/* margin: 0 20px; */

	}
	
	.profil-kontakt {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.profil-nadpis {
		color: var(--barva-modra);
	}

	.profil-telefon {
		text-decoration: none;
	}

	.profil-text {
		color: var(--barva-modra);
	}




/* osoby pocitac  */

@media (max-width:768px) {
	.manzele {
		display: flex;
		flex-direction: column;
		align-items: center;
	  }
	  
	  .manzele-profil {
		margin: 30px;
		background-color: var(--barva-zluta);
		text-align: center;
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 100%;
		max-width: 400px;
		padding: 0px 50px;
	  }
	  
	}	  
	  


/* ---------------------- DRUZICKY ------------------------ */

.druzicky {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .druzicky-profil {
	background-color: var(--barva-zluta);
	margin: 30px;
	padding: 20px;
	width: 100%;
	max-width: 300px;
  }



/* druzicky tablet (dvě vedle sebe) */
	  
@media (min-width:768px) {

.druzicky {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .druzicky-profil {
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    max-width: none;
  }
}

/* druzicky PC (čtyři vedle sebe) */

/* @media (min-width:800px) {

	.druzicky {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 0 auto;
	  }
	
	  .druzicky-profil {
		margin-bottom: 20px;
		width: calc(33.33% - 10px);
		max-width: none;
	  }

} */

/* ------------  SVEDCI  -------------*/

.svedci {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .svedci-profil {
	width: 100%;
	background-color: var(--barva-zluta);
	padding: 20px;
	box-sizing: border-box;
	margin: 30px;
	max-width: 300px;
  }

  @media (min-width:768px) {

	.svedci {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	  }
	
	  .svedci-profil {
		margin-right: 20px;
		margin-bottom: 20px;
		width: calc(33.33% - 20px);
		max-width: none;
	  }
	}


/*   
  .s-profil-nadpis {
	margin-top: 0;
  }
  
  .s-profil-obrazek {
	display: block;
	margin: 20px auto;
	max-width: 100%;
	height: auto;
  }
  
  .s-profil-kontakt {
	display: flex;
	justify-content: center;
  }
  
  .s-profil-telefon {
	display: inline-block;
	background-color: #ffffff;
	color: #000000;
	padding: 10px;
	border-radius: 50%;
	text-decoration: none;
  } */