html {
	box-sizing: border-box;
}
*,
:after,
:before {
	box-sizing: inherit;
}

/*
nadpisy: font-family: 'Euphoria Script', cursive;
texty: font-family: 'EB Garamond', serif;
na žlutém pozadí modrý nadpis a text
na modrém pozadí žlutý nadpis a text v bledě růžové
*/

:root {
	--barva-modra: #033E8C;
    --barva-ruzova: #fcb2b2;
    --barva-zluta: #F2CB05;
    --barva-text-zluta: #FCC173;
}

body{
    text-align: center;
    font-family: 'EB Garamond', serif;
	font-size: 19px;
	overflow-x: hidden;
}

h1 {
    font-family: 'Euphoria Script', cursive;
    margin: 0;
    padding: 15px;
	font-size: 70px;
	font-weight: normal;
}

h2 {
	font-weight: normal;
}

a {
	color: var(--barva-modra);	
}

a:hover {
	color: var(--barva-zluta);
	background-color: var(--barva-modra);
}

img {
	font-weight: 100%;
	height:auto;
}



/* -------------------------úvodní foto ------------------------------ */


 .jmena {
    background-image: url("obrazky/uvodni_foto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jmena p{
	font-family: 'Euphoria Script', cursive;
	text-shadow: -1px -2px 4px white,2px 11px 11px white;
	font-size: 80px;
	text-align: center;
	margin: 0;
}

@media (max-width: 700px) {
    .jmena {
        background-size: 100vw auto;
        background-attachment: scroll;
		padding: 0;
		margin: 0;
		min-height: 200px;
		/* min-width: 100vh;
		min-height: 100vh; */
    }

	.jmena p {
		font-size: 50px;
		font-family: 'Euphoria Script', cursive;
		margin: 0;
		padding: 0;
	}

} 

/* ------------------odpocet------------------ */

.countdown {
	background-color: var(--barva-modra);
}

#odpocet {
    font-size: 30px;
	color: var(--barva-text-zluta);
	font-family: 'EB Garamond', serif;
	margin: 6px 0;
}

/* ----------------- sekce ------------------- */


section {
    padding: 20px;
}

.zakladni, .harmonogram, .fotografie {
    background-color: var(--barva-zluta);
    color: var(--barva-modra);
}

.misto, .osoby, .dodavatele {
    background-color: var(--barva-modra);
    color: var(--barva-zluta);
}



/* --------------- základní info  -------------------- */


.uvod, .posledni {
	text-align: center;
}

/* pocitac */
@media (min-width: 700px) {
	.uvod, .posledni {
		padding: 2% 20%;
	}
	.posledni {
		font-size: 21px;
	}
}

.z {
	display: block;
	padding: 0;
}
	
.zi {
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
	
.zp {
	width: 100%;
	text-align: justify;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
	
.z_img {
	width: 100%;
	margin: 2% auto;
	display: block;
	border: 2px solid var(--barva-modra);
}

.jidlo, .dresscode, .koureni {
	flex-direction: row-reverse;
}




/* pocitac */
@media (min-width: 700px) {
	.z {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: space-evenly;
	}
	
	.zi {
	width: 40%;
	padding: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	}
	
	.zp {
	width: 60%;
	text-align: justify;
	margin: 0 5%;
	}
	
    .ubytovani.hudba.foceni .zp {
		margin-left: 10%;
	}

	.jidlo.dresscode.koureni .zp {
		margin-right: 10%;
	}

	.z_img {
	margin: 2% auto;
	width: 100%;
	max-width: 400px;
/*	padding: 8%;  */
	}
	}

/* -----------------mapa ---------------*/

.mapa {
	position: relative;
	max-width: 500px;
	padding-bottom: 35%;
	margin: 0 auto;
  }
  
  .mapa iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }


/* harmonogram */

.tabulka {
	align-content: center;
}


table {
	border-collapse: collapse;
	margin: 0 auto;
}

td {
	padding: 8px;
}

/* 
  
  td {
	border: 1px solid var(--barva-modra);
	padding: 8px;
  }
  
  table.dcf-table-bordered td:first-child {
	border-left: none;
  }
  
  table.dcf-table-bordered td:last-child {
	border-right: none;
  }
  
  table.dcf-table-bordered tr:first-child td {
	border-top: none;
  }
  
  table.dcf-table-bordered tr:last-child td {
	border-bottom: none;
  } */

.pravy {
    text-align: left;
  }



/* ---------------- OSOBY ----------------------------- */

.osoby-obal {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.osoby-profil {
    background-color: var(--barva-zluta);
    width: 100%;
    max-width: 300px;
    padding: 20px;
	margin-bottom: 20px;
}

.profil-obrazek {
    display: block;
    object-fit: cover;
    border: 2px solid var(--barva-modra);
    max-width: 100%;
    height: auto;
}

.profil-kontakt {
    margin-top: 10px;
    margin-bottom: 10px;
}

.profil-nadpis, .profil-text {
    color: var(--barva-modra);
}

.profil-telefon {
    text-decoration: none;
}

/* pro pc: */

@media (min-width:768px) {

	.osoby-obal {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.osoby-profil {
		margin-right: 20px;
		margin-bottom: 20px;
		width: calc(33.33% - 20px);
		max-width: none;
	}

	.druzicky-profil {
		margin-right: 20px;
		margin-bottom: 20px;
		width: calc(25% - 20px);
		max-width: none;
	}
	  }



.dodavatele {
	padding-bottom: 50px;
}


.dodavatele_seznam a {
	color: var(--barva-zluta);	
}

.dodavatele_seznam a:hover {
	color: var(--barva-modra);
	background-color: var(--barva-zluta);
}




